body {
    color: silver;
    background: #000 url('/images/backdrop_faded.png') top center no-repeat;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: silver; text-decoration: none; font-weight: bold;}
a:hover { }
a:visited:hover { color: #666; }

input {
    color:black;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 320px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#notification-area { position:absolute; width: 100%; }
#notification-area p {
    text-align: center;
    margin: 0px;
    font-size: large;
}
.notification { color: green; }
.error { color: red; }

.small-zone {
    width: 400px;
    margin: 50px auto 0px auto;
}

.labeled-field * { margin: 2px; }
.labeled-field label { display: inline-block; width: 100px }

div#user-bar {
    background: transparent url('/images/container_center.png') center center repeat-x;
    padding: 0px;
    margin: 0px;
    font-size: x-small;
    color: #f0f0f0;
}
div#user-bar a {
    color: #fafafa;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}
div#user-bar a:visited { color: #fafafa; }
div#user-bar a:hover { color: #fa0a0a; }

span#crumbs { margin-left: 25px; }
span#crumbs a:hover, span#crumbs a:visited:hover { color: #a0a0f0; }

div#user-bar-greeting {
    background: transparent url('/images/container_left.png') center left no-repeat;
    padding: 0px 40px;
}
div#user-bar-action {
    text-align: right;
    float:right;
    padding: 0px 40px;
    background: transparent url('/images/container_right.png') center right no-repeat;
}

div#content {
    width: 1000px;
    margin: 0px auto;
    padding:12px;
}

div#news-container{
    width: 400px;
    min-height: 420px;
}

/* for Internet Explorer */
/*\*/
* html .container {
    height: 420px;
}
/**/

div#map-container{
    text-align: center;
    float:right;
}

img#map-bottom { margin-top: -30px; border:none; }

#tools-form-container table { width: 100%; }

input#territory_submit {
    float:right;
    background: url(/images/border02_noalpha.png) center center no-repeat;
    border:medium none;
    color:silver;
    padding:5px;
    width: 102px;
}

div#territories-edit-list { width: 450px; }
div#territories-list li { margin: 10px; list-style-image: url(/images/plus_up.png); }
div#territories-list li:hover { list-style: none; list-style-image: url(/images/plus_down.png); }
div#territories-list li.active { list-style: none; list-style-image: url(/images/plus_over.png); }
div#territories-list li.active a { color: #007f00; }

body.popup {
    background: url(/images/parchment02.png) black top center no-repeat fixed !important;
}
div.popup-form { text-align: center; padding: 20px;}
div.popup-form p.submit { text-align: right; }
div.popup-form label { color: black; font-weight:bold; font-size: large; }

div#news-container {
    padding-top: 25px;
    background: url(/images/ornate_bar.png) transparent top center repeat-x;
}

div#news-container > a {
    background:black;
    color: #B8840A;
    margin:5px;
    border:1px solid silver;
    float:right;
    padding:2px 5px;
}

div.news { margin: 10px 0px; }
div.news > * {
    margin: 0px;
    background: transparent url(/images/black_128.png) repeat;
}
div.news-body {
    border: 1px solid silver;
    border-top: none;
    padding: 1em;
}

p.news-controls {
    border: 1px dotted silver;
    border-top: none;
    margin-bottom: 20px;
}
p.news-controls a {
    color: #B8840A;
    padding:2px 5px;
    margin-right: 10px;
}

div.news-header > h2{ margin:0px; }
div.news-header {
    border: 1px solid silver;
    border-bottom: 1px dotted silver;
    padding: 0.5em;
}

div.news-comments {
    margin: 5px 0px;
    border: 1px solid silver;
}
div.comment > * { padding: 5px 10px; }
div.comment-title { border-bottom: 1px dotted silver; }