body {
    color: silver;
    background: #000 url('/images/backdrop_faded.png') top center no-repeat;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: silver; text-decoration: none; font-weight: bold;}
a:hover { }
a:visited:hover { color: #666; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.small-zone {
    width: 400px;
    margin: 50px auto 0px auto;
}

div#user-bar {
    background: transparent url('/images/container_center.png') center center repeat-x;
    padding: 0px;
    margin: 0px;
    font-size: x-small;
    color: #f0f0f0;
}
div#user-bar a {
    color: #fafafa;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}
div#user-bar a:visited { color: #fafafa; }
div#user-bar a:hover { color: #fa0a0a; }

span#crumbs { margin-left: 25px; }
span#crumbs a:hover, span#crumbs a:visited:hover { color: #a0a0f0; }

div#user-bar-greeting {
    background: transparent url('/images/container_left.png') center left no-repeat;
    padding: 0px 40px;
}
div#user-bar-action {
    text-align: right;
    float:right;
    padding: 0px 40px;
    background: transparent url('/images/container_right.png') center right no-repeat;
}

div#content {
    width: 1000px;
    margin: 0px auto;
    padding:12px;
}

div#map-container{
    text-align: center;
    float:right;
}

img#map-bottom { margin-top: -30px; }

div#territories-list li {
    list-style: none;
}
