<ul>
<!-- partial territories/list -->
<% territories.each do |t| %>
  <%= link_to_remote "[delete]", { :url => { :action => "destroy", :id => t.id }, :confirm => 'Are you sure?'},
                                 { :style => 'float:right' } %>
  <li id="select-<%= t.id %>" >
    <%= link_to_function "#{t.name || "New territory #"+t.id.to_s }", set_selected_edit_territory(t) %>
  </li>
<% end %>
</ul>
